@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: var(--main-font-family);
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--main-color);
  background-color: var(--main-light-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

:root {
  /*Fonts*/
  --main-font-family: "Montserrat", sans-serif;
  /*Colors*/
  --main-dark-color: #000;
  --main-light-color: #fff;
  --main-dark-text-color: #131313;
  --main-light-text-color: #FCFCFC;
  --background-color: #84A178;
  --current-color: #F8D24E;
  --hover-focus-color: #0A8817;
  --button-disabled-color:#ABABAB;
  --background-product-color1: #AEC6A5;
  --background-product-color2: #EFD478;
  --background-product-color3: #D6936D;
  --border-imput-color: #84A178;
  --background-imput-color:rgba(248, 210, 78, 0.1);
  --slider-color: #D9D9D9;
  --slider-active-color: #84A178;
  --main-color: #757575;
  --secondary-color: #212121;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-transform {
  text-transform: uppercase;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: cover;
  width: 100%;
}

.products-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.products-title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}

.products-card {
  width: 280px;
  height: 420px;
  background-color: #EFD478;
  border-radius: 24px;
}

.card-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.card-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.78;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
}

.gallery_image {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .gallery_image {
    width: 279px;
  }
}
@media screen and (min-width: 768px) {
  .gallery_image {
    width: 704px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery_image {
    width: 1013px;
  }
}
.container {
  padding: 0 15px;
}

.customer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.customer-container {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin: 0 auto;
}

.customer-photo {
  margin-bottom: 30px;
}

.customer-review-desc {
  margin-bottom: 32px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: #84a178;
  color: #fcfcfc;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  flex-grow: 1;
}

.customer-review-author {
  margin-bottom: 20px;
  color: #000000;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
}

.customer-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-pagination {
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  margin-top: 20px;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #d9d9d9;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #84a178;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 18px;
}

.swiper-pagination-lock {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 1dppx), (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-device-pixel-ratio: 1) {
  .customer-container {
    background-image: url("../images/ice-cream-mobile.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .customer-container {
    background-image: url("../images/ice-cream-mobile@2x.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 768px), screen and (min-resolution: 1dppx) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 0.9895833333333334) and (min-width: 768px), screen and (min-resolution: 95dpi) and (min-width: 768px), screen and (min-device-pixel-ratio: 1) and (min-width: 768px) {
  .customer-container {
    background-image: url("../images/ice-cream-tablet.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .customer-container {
    background-image: url("../images/ice-cream-tablet@2x.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 1200px), screen and (min-resolution: 1dppx) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 0.9895833333333334) and (min-width: 1200px), screen and (min-resolution: 95dpi) and (min-width: 1200px), screen and (min-device-pixel-ratio: 1) and (min-width: 1200px) {
  .customer-container {
    background-image: l url("../images/ice-cream-desktop.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) {
  .customer-container {
    background-image: url("../images/ice-cream-desktop@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .customer-review-desc {
    padding: 28px 80px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
  }
  .customer-review-author {
    margin-bottom: 32px;
    font-family: "Montserrat";
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review-desc {
    padding: 38px 74px;
    font-size: 16px;
  }
}
.contacts-section {
  padding-bottom: 40px;
  background-color: var(--background-color);
}

.container-contacts {
  padding: 0 20px;
}

.contacts-card {
  margin-bottom: 32px;
}

.contacts-card__item {
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--main-light-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts-card__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-representation {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  background-color: var(--current-color);
  color: var(--main-light-text-color);
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  margin-top: 40px;
  margin-bottom: 20px;
}

.contacts-list__item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-place {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: var(--main-dark-color);
  margin-bottom: 8px;
}

.contacts-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: var(--background-product-color3);
}

.contacts-working__item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-working__days {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: var(--main-dark-color);
}

.contacts-working__hours {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: #ababab;
}

.contacts-communication__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--background-product-color3);
}

.contacts-btn {
  display: block;
  background-color: transparent;
  border-radius: 10px;
  width: 161px;
  height: 49px;
  margin: 0 auto;
}

.contacts-btn__location {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--current-color);
  border: none;
  margin-bottom: 8px;
}
.contacts-btn__location:hover, .contacts-btn__locationfocus {
  background-color: #0a8817;
}

.contacts-btn__franchise {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-light-text-color);
  border: 2px solid #f8d24e;
}
.contacts-btn__franchise:hover, .contacts-btn__franchisefocus {
  border: 2px solid #0a8817;
}

@media screen and (min-width: 480px) {
  .container-contacts {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container-contacts {
    width: 768px;
    padding: 0 32px;
  }
  .contacts-card {
    display: flex;
    gap: 16px;
  }
  .contacts-card__item {
    max-width: 224px;
  }
  .contacts-card__item:not(:last-child) {
    margin-bottom: 0;
  }
  .contacts-representation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    padding-left: 14px;
    padding-right: 14px;
  }
  .contacts-place {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8571428571;
  }
  .contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8571428571;
  }
  .contacts-working__days,
.contacts-working__hours,
.contacts-communication__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8571428571;
    letter-spacing: normal;
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .contacts-btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2857142857;
    margin: 0;
  }
  .contacts-btn__location {
    width: 192px;
    height: 42px;
  }
  .contacts-btn__franchise {
    width: 158px;
    height: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .container-contacts {
    width: 1200px;
    padding: 0 16px;
  }
  .contacts-card {
    gap: 32px;
  }
  .contacts-card__item {
    max-width: 368px;
  }
  .contacts-representation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    padding-left: 14px;
    padding-right: 14px;
  }
  .contacts-place {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
  }
  .contacts-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
  }
  .contacts-working__days,
.contacts-working__hours,
.contacts-communication__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
  }
}/*# sourceMappingURL=index.css.map */