<section class="adventages-section">
    <ul class="adventage">
        <li class="adventage__item">
            <p class="adventage__quantity">721</p>
            <p class="adventage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="adventage__item">
            <p class="adventage__quantity">16kg</p>
            <p class="adventage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="adventage__item">
            <p class="adventage__quantity">84</p>
            <p class="adventage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>