<!-- <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/> -->
<section class="customer">
  <div class="container customer-container">
    <h2 class="visually-hidden">Відгуки клієнтів</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="customer-review">
            <img
              srcset="./images/client-1.jpg 1x, ./images/client-1@2x.jpg 2x"
              src="./images/client-1.jpg"
              alt="customer foto"
              class="customer-photo"
            />
            <p class="customer-review-desc">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
            <p class="customer-review-author">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer-review">
            <img
              srcset="./images/client-1.jpg 1x, ./images/client-1@2x.jpg 2x"
              src="./images/client-1.jpg"
              alt="customer foto"
              class="customer-photo"
            />
            <p class="customer-review-desc">
              Extremely tasty! The most delicious ice cream in the world.
            </p>
            <p class="customer-review-author">Sandra, Chicago</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer-review">
            <img
              srcset="./images/client-1.jpg 1x, ./images/client-1@2x.jpg 2x"
              src="./images/client-1.jpg"
              alt="customer foto"
              class="customer-photo"
            />

            <p class="customer-review-desc">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
            <p class="customer-review-author">Miki, New York</p>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
