<section class="section section__galery">
  <!-- <div class="swiper-button-prev2"></div> -->
  <div class="container swiper-wrapper">

    <picture class="gallery_image swiper-slide">
              <source srcset="
                  ./images/gallery-ice-desk.webp    1x,
                  ./images/gallery-ice-desk@2x.webp 2x,
                  ./images/gallery-ice-desk@3x.webp 3x
                " media="(min-width: 1200px)" type="image/webp">
              <source srcset="
                  ./images/gallery-ice-desk.jpg    1x,
                  ./images/gallery-ice-desk@2x.jpg 2x,
                  ./images/gallery-ice-desk@3x.jpg 3x
                " media="(min-width: 1200px)" type="image/jpeg">
              <source srcset="
                  ./images/gallery-ice-tab.webp    1x,
                  ./images/gallery-ice-tab@2x.webp 2x,
                  ./images/gallery-ice-tab@3x.webp 3x
                " media="(min-width: 768px)" type="image/webp">
              <source srcset="
                  ./images/gallery-ice-tab.jpg    1x,
                  ./images/gallery-ice-tab@2x.jpg 2x,
                  ./images/gallery-ice-tab@3x.jpg 3x
                " media="(min-width: 768px)" type="image/jpeg">
              <source srcset="
                  ./images/gallery-ice-mob.webp    1x,
                  ./images/gallery-ice-mob@2x.webp 2x,
                  ./images/gallery-ice-mob@3x.webp 3x
                " media="(max-width: 767px)" type="image/webp">
              <source srcset="
                  ./images/gallery-ice-mob.jpg    1x,
                  ./images/gallery-ice-mob@2x.jpg 2x,
                  ./images/gallery-ice-mob@3x.jpg 3x
                " media="(max-width: 767px)" type="image/jpeg">
              <img src="./images/gallery-ice-mob.jpg" alt="gallery-ice">
            </picture>
    <picture class="gallery_image swiper-slide">
      <source srcset="
                  ./images/gallery-ice-desk.webp    1x,
                  ./images/gallery-ice-desk@2x.webp 2x,
                  ./images/gallery-ice-desk@3x.webp 3x
                " media="(min-width: 1200px)" type="image/webp">
      <source srcset="
                  ./images/gallery-ice-desk.jpg    1x,
                  ./images/gallery-ice-desk@2x.jpg 2x,
                  ./images/gallery-ice-desk@3x.jpg 3x
                " media="(min-width: 1200px)" type="image/jpeg">
      <source srcset="
                  ./images/gallery-ice-tab.webp    1x,
                  ./images/gallery-ice-tab@2x.webp 2x,
                  ./images/gallery-ice-tab@3x.webp 3x
                " media="(min-width: 768px)" type="image/webp">
      <source srcset="
                  ./images/gallery-ice-tab.jpg    1x,
                  ./images/gallery-ice-tab@2x.jpg 2x,
                  ./images/gallery-ice-tab@3x.jpg 3x
                " media="(min-width: 768px)" type="image/jpeg">
      <source srcset="
                  ./images/gallery-ice-mob.webp    1x,
                  ./images/gallery-ice-mob@2x.webp 2x,
                  ./images/gallery-ice-mob@3x.webp 3x
                " media="(max-width: 767px)" type="image/webp">
      <source srcset="
                  ./images/gallery-ice-mob.jpg    1x,
                  ./images/gallery-ice-mob@2x.jpg 2x,
                  ./images/gallery-ice-mob@3x.jpg 3x
                " media="(max-width: 767px)" type="image/jpeg">
      <img src="./images/gallery-ice-mob.jpg" alt="gallery-ice">
    </picture>
    <picture class="gallery_image swiper-slide">
      <source srcset="
                  ./images/gallery-ice-desk.webp    1x,
                  ./images/gallery-ice-desk@2x.webp 2x,
                  ./images/gallery-ice-desk@3x.webp 3x
                " media="(min-width: 1200px)" type="image/webp">
      <source srcset="
                  ./images/gallery-ice-desk.jpg    1x,
                  ./images/gallery-ice-desk@2x.jpg 2x,
                  ./images/gallery-ice-desk@3x.jpg 3x
                " media="(min-width: 1200px)" type="image/jpeg">
      <source srcset="
                  ./images/gallery-ice-tab.webp    1x,
                  ./images/gallery-ice-tab@2x.webp 2x,
                  ./images/gallery-ice-tab@3x.webp 3x
                " media="(min-width: 768px)" type="image/webp">
      <source srcset="
                  ./images/gallery-ice-tab.jpg    1x,
                  ./images/gallery-ice-tab@2x.jpg 2x,
                  ./images/gallery-ice-tab@3x.jpg 3x
                " media="(min-width: 768px)" type="image/jpeg">
      <source srcset="
                  ./images/gallery-ice-mob.webp    1x,
                  ./images/gallery-ice-mob@2x.webp 2x,
                  ./images/gallery-ice-mob@3x.webp 3x
                " media="(max-width: 767px)" type="image/webp">
      <source srcset="
                  ./images/gallery-ice-mob.jpg    1x,
                  ./images/gallery-ice-mob@2x.jpg 2x,
                  ./images/gallery-ice-mob@3x.jpg 3x
                " media="(max-width: 767px)" type="image/jpeg">
      <img src="./images/gallery-ice-mob.jpg" alt="gallery-ice">
    </picture>
    <picture class="gallery_image swiper-slide">
      <source srcset="
                  ./images/gallery-ice-desk.webp    1x,
                  ./images/gallery-ice-desk@2x.webp 2x,
                  ./images/gallery-ice-desk@3x.webp 3x
                " media="(min-width: 1200px)" type="image/webp">
      <source srcset="
                  ./images/gallery-ice-desk.jpg    1x,
                  ./images/gallery-ice-desk@2x.jpg 2x,
                  ./images/gallery-ice-desk@3x.jpg 3x
                " media="(min-width: 1200px)" type="image/jpeg">
      <source srcset="
                  ./images/gallery-ice-tab.webp    1x,
                  ./images/gallery-ice-tab@2x.webp 2x,
                  ./images/gallery-ice-tab@3x.webp 3x
                " media="(min-width: 768px)" type="image/webp">
      <source srcset="
                  ./images/gallery-ice-tab.jpg    1x,
                  ./images/gallery-ice-tab@2x.jpg 2x,
                  ./images/gallery-ice-tab@3x.jpg 3x
                " media="(min-width: 768px)" type="image/jpeg">
      <source srcset="
                  ./images/gallery-ice-mob.webp    1x,
                  ./images/gallery-ice-mob@2x.webp 2x,
                  ./images/gallery-ice-mob@3x.webp 3x
                " media="(max-width: 767px)" type="image/webp">
      <source srcset="
                  ./images/gallery-ice-mob.jpg    1x,
                  ./images/gallery-ice-mob@2x.jpg 2x,
                  ./images/gallery-ice-mob@3x.jpg 3x
                " media="(max-width: 767px)" type="image/jpeg">
      <img src="./images/gallery-ice-mob.jpg" alt="gallery-ice">
    </picture>

  </div>
<!-- If we need pagination -->
<div class="swiper-pagination2"></div>

<!-- If we need navigation buttons -->
<!-- <div class="swiper-button-prev2"></div>
<div class="swiper-button-next2"></div> -->

<!-- If we need scrollbar -->
<div class="swiper-scrollbar2"></div>
</section>