@mixin fonts($size: 14px, $weight: 400, $lh: 18px) {
    font-size: $size;
    font-weight: $weight;
    line-height: calc($lh / $size);
}

.hero-header {
    position: relative;
    height: 502px;

    overflow: hidden;
    

    background-color: #85A279;

    background-image: url(../images/header/dots_mobile.png);
    background-repeat: no-repeat;
    background-size: 480px;
    background-position: bottom;

    @media screen and (min-width: 768px) {
        height: 415px;

        background-image: url(../images/header/dots_tablet.png);
        background-repeat: no-repeat;
        background-size:768px;
        background-position: bottom;
    }

    @media screen and (min-width: 1200px) {
        height: 664px;
        background-color: #84A278;

        background-image: url(../images/header/dots_desktop.png);
        background-repeat: no-repeat;
        background-size: 1200px;
        background-position: bottom;
    }

}

.nav {
    display: flex;
}

.menu-list {
    margin: 0;
    padding: 0;
    display: none;
    list-style: none;

    @media screen and (min-width: 1200px) {
        display: flex;
        position: absolute;
        top: 40px;
        left: 344px;
    }
}

.menu-list__item {
    font-family: 'Montserrat';
    @include fonts($size: 16px, $weight: 700, $lh: 20px);
    color: #FCFCFC;

    &:not(:last-child) {
            margin-right: 27px;
        }
}

.icon-menu {
    fill: #FFFFFF;
}

.mobile-menu-list {
    padding-left: 0;
    list-style: none;
}

.mobile-menu-open {
    position: absolute;
    z-index: 700;
    top: 20px;
    right: 20px;

    height: max-content;
    
    background-color: rgba(0, 0, 0, 0);
    border: none;
    line-height: 0;
    padding: 0;
    line-height: 0;
    transition-property: fill;
    transition-duration: var(--timing-duration);
    transition-timing-function: var(--timing-function);

    @media screen and (min-width: 768px) {
        top: 40px;
        right: 215px;
    }

    @media screen and (min-width: 1199px) {
            display: none;
    }
}

.logo__img {
    position: absolute;
    top: 12px;
    // left: 32px;

    height: 37.12px;
    width: 40px;

    @media screen and (min-width: 768px) {
        top: 20px;
        left: 35px;

        height: 48px;
        width: 44px;
    }

    @media screen and (min-width: 1200px) {
        top: 26px;
        left: 20px;
    }
}

.btn-buy-now {
    display: none;
    z-index: 700;

    @media screen and (min-width: 768px) {
        display:block;
        position: absolute;
        top: 24px;
        right: 33px;
    }

    @media screen and (min-width: 1200px) {
        top: 28px;
        right: 15px;
    }
}


.mobile-menu {
    position: fixed;

    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: #85A279;
    color: #FCFCFC;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media screen and (min-width: 768px) {
        background-color: #97AF8D;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.btn-buy-now__mobile {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__container {
    position: relative;
    padding: 100px 22px 63px 22px;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
}

.mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 25px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    z-index: 1000;

    transition-property: fill;
    transition-duration: var(--timing-duration);
    transition-timing-function: var(--timing-function);

    &:hover {
        fill: var(--accent-color);
    }
}

.mobile-menu__close-icon {
    fill: #212121;
}

.mobile-menu__link {
    @include fonts($size: 32px, $weight: 700, $lh: 39px);
    color: var(--secondary-dark-color);
    text-decoration: none;

    &--Ñurrent {
        color: var(--accent-color);
    }
}

.mobile-menu__item {
    display: block;

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}


.key-phrase {
    position: absolute;
    top: 110px;

    font-family: 'Seymour One';
    @include fonts($size: 26px, $weight: 400, $lh: 33px);

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFFFFF;

    & > span {
        @include fonts($size: 34px, $weight: 400, $lh: 33px);
    }

    @media screen and (min-width: 768px) {
        @include fonts($size: 18px, $weight: 400, $lh: 23px);
        &>span {
                @include fonts($size: 16.2531px, $weight: 400, $lh: 13px);
            }
    }

    @media screen and (min-width: 1200px) {
        @include fonts($size: 38px, $weight: 400, $lh: 48px);
        &>span {
                @include fonts($size: 38px, $weight: 400, $lh: 48px);
            }
    }


}

.hero-link {
    position: absolute;
    top: 239px;

    @media screen and (min-width: 768px) {
        top: 198px;
    }

    @media screen and (min-width: 1200px) {
        top: 294px;
    }
}

.hero-link__products {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;

    padding: 8px 14px;

    border: 2px solid #F8D24E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;

    @media screen and (min-width: 1200px) {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        padding: 12px 35px;
        border-radius: 10px;
    }
}

.hero-link__how-its-made {
    margin-left: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    text-decoration: underline;
    color: #F8D24E;

    @media screen and (min-width: 1200px) {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        border-radius: 10px;
        margin-left: 32px;
    }
}

.icecream__img {
    position: absolute;
    left: 81px;
    top: 229px;
    width: 276px;
    height: 326px;

    @media screen and (min-width: 768px) {
        left: 365px;
        top: 15px;
        width: 379px;
        height: 456px;
    }

    @media screen and (min-width: 1200px) {
        left: 560px;
        top: -1px;
        width: 642px;
        height: 762px;
    }

}

.plate__img {
    position: absolute;
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        left: 32px;
        top: 250px;
        width: 152px;
        height: 152px;
    }

    @media screen and (min-width: 1200px) {
        left: 15px;
        top: 378px;
        width: 225px;
        height: 225px;
    }
}

.hero-description {
    position: absolute;
    display: none;

    font-family: 'Montserrat';

    color: #FFFFFF;

    @media screen and (min-width: 768px) {
        display: block;
        top: 278px;
        left: 217px;
        width: 175px;
        height: 80px;
        @include fonts($size: 12px, $weight: 400, $lh: 17px);
    }

    @media screen and (min-width: 1200px) {
        display: block;
        top: 445px;
        left: 258px;
        width: 220px;
        height: 80px;
        @include fonts($size: 14px, $weight: 400, $lh: 20px);
    }
}

.hero-arrow {
    position: absolute;
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        top: 378px;
        left: 216px;
    }

    @media screen and (min-width: 1200px) {
        display: block;
        top: 557px;
        left: 257px;
    }
}

.cafe-count {
    position: absolute;
    display: none;

    font-family: 'Montserrat';
    letter-spacing: 0.04em;
    text-align: right;
    text-transform: uppercase;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        top: 94px;
        right: 33px;

        width: max-content;
        
        @include fonts($size: 28px, $weight: 900, $lh: 34px);
        color: #000000;

        & > span {
            @include fonts($size: 8px, $weight: 400, $lh: 10px);

            color: #FFFFFF;
            text-transform: lowercase;
        }
    }

    @media screen and (min-width: 1200px) {
        top: 130px;
        right: 15px;
        // transform: translateX(-100%);

        @include fonts($size: 46px, $weight: 900, $lh: 56px);
        color: #131313;

        & > span {
            @include fonts($size: 14px, $weight: 400, $lh: 17px);
            text-align: right;
            color: #FFFFFF;
            text-transform: lowercase;
        }
}

}

.food-truck-count {
    position: absolute;
    display: none;

    font-family: 'Montserrat';
    letter-spacing: 0.04em;
    text-align: right;
    text-transform: uppercase;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        top: 162px;
        right: 33px;

        width: max-content;

        @include fonts($size: 28px, $weight: 900, $lh: 34px);
        color: #000000;
        text-align: right;

        &>span {
            @include fonts($size: 8px, $weight: 400, $lh: 10px);
            text-align: right;
            color: #FFFFFF;
            text-transform: lowercase;
        }
    }

    @media screen and (min-width: 1200px) {
        top: 223px;
        right: 15px;

        // transform: translateX(-100%);

        @include fonts($size: 46px, $weight: 900, $lh: 56px);
        color: #131313;

        &>span {
            @include fonts($size: 14px, $weight: 400, $lh: 17px);
            text-align: right;
            color: #FFFFFF;
            text-transform: lowercase;
        }
    }

}

