.adventages-section {
    padding-top: 60px;
    padding-bottom: 180px;
    background-color: #84a178;
  }
  .advantage {
    display: flex;
    gap: 32px;
  }
  .advantage__item {
    text-align: center;
    width: 368px;
  
    &::before {
      content: '';
      display: block;
      margin-top: 67px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #f8d24e;
      margin-bottom: 40px;
    }
  }
  
  .advantage__item_icon-cow::before {
    background-image: url(../../images/advantages/cow.svg);
  }
  .advantage__item_icon-weight::before {
    background-image: url(../../images/advantages/weight.svg);
  }
  .advantage__item_icon-ice-cream::before {
    background-image: url(../../images/advantages/ice-cream.svg);
  }
  
  .advantage__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 58px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  
  .advantage__description {
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fcfcfc;
  }
  