.section__galery {
  position: relative;
}
.container__image {
  width: 100%;
  position: absolute;
}

.gallery_image {
  border-radius: 18px;
  border-color: transparent;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .gallery_image {
    width: 279px;
    border-radius: 24px;
  }
}
@media screen and (min-width: 768px) {
  .gallery_image {
    width: 704px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery_image {
    width: 1013px;
  }
}
